!!!
%html
  %head
    %title Bd
    = stylesheet_link_tag '/ext-3.4.0/resources/css/ext-all.css', 'application'
    = javascript_include_tag '/ext-3.4.0/adapter/ext/ext-base.js', '/ext-3.4.0/ext-all.js', 'application'
    = csrf_meta_tags
  %body
    #setup
      %ul
        %li
          %a{:href => "#", :onClick => "addNewTab(\"tab_customers\", \"Customers\", \"List\", \"customers\");"} Customers
        %li
          %a{:href => "#"} Proposals
    #reports
      %ul
        %li
          %a{:href => "#"} Customers
        %li
          %a{:href => "#"} Proposals
    = yield